[submodule "deps/pdaf"]
	path = deps/pdaf
	url = https://github.com/PDAF/PDAF.git
	branch = PDAF_V2.3
[submodule "deps/esmf"]
	path = deps/esmf
	url = https://github.com/esmf-org/esmf.git
	branch = release/8.7.0
[submodule "deps/pdaf-binding-tiegcm"]
	path = deps/pdaf-binding-tiegcm
	url = git@gitlab.igg.uni-bonn.de:apmg/pdaf-binding-tiegcm.git
	branch = master
[submodule "deps/geodetic-fortran-utilities"]
	path = deps/geodetic-fortran-utilities
	url = https://github.com/rainbowsend/geodetic-fortran-utilities.git
	branch = main
